/* ==========================================================================
   Reset/Base Styles
   ========================================================================== */
    * {
        margin: 0;
        padding: 0;
    }

/* ==========================================================================
   Typography
   ========================================================================== */
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: rgb(184, 223, 255);
    }

/* ==========================================================================
   Layout
   ========================================================================== */
   .main {
        margin: 100px;
        border-style: solid;
        border-color: black;
    }

/* ==========================================================================
   Header & Navigation
   ========================================================================== */
    .main_header {
        background-color: rgb(172, 126, 215);
    }

    .header_nav{
        /* Navigation styles */
    }

    .nav_list {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: left;
        
    }

    .logo + .nav_item {
        margin-left: auto;
    }

    .nav_item {
        margin-right: 2rem;
        padding: 10px 15px;
        background-color: rgb(247, 143, 231);
    }

/* ==========================================================================
   Main Content
   ========================================================================== */
    .main_content {
        /* Main content styles */
        display: flex;
    }

    .intro_section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(255, 226, 163);
        padding: 20px;
        gap: 20px;
    }

    .intro_left .intro_right {
        padding-top: 10px
    }

    .intro_left {
        /* Left side styles */
        background-color: rgb(247, 182, 102);
        padding: 20px;
    }

    .intro_left .intro_name {
        font-size: 80px;
    }

    .intro_right {
        /* Right side styles */
        background-color: rgb(251, 153, 114);
        padding: 20px;
    }

/* ==========================================================================
   Responsive Design
   ========================================================================== */
    @media (max-width: 768px) {
        /* Mobile styles */
    }

/* ==========================================================================
   Utilities
   ========================================================================== */
    .hidden {
        display: none;
    }